<% var block = options.block %>
<%- block._editable %>

<div class="block_image_text">
	<div class="<% if(!block.full_width) { %>container<% } else { %>block_image_text--full_width<% } %>">
		<div class="block_image_text__wrap block_image_text__wrap--<%- block.image_align || 'left' %>">
			<%- plugins.imageVideo(block.image, `
			<div class="{class} unstyled cover_image block_image_text__image" {attr}>
				<img src="{image}" alt="{alt}">
			</div>`) %>
			<div class="block_image_text__content">
				<div class="block_image_text__info">
					<% if(block.heading) { %>
						<h2 class="block_image_text__heading">
							<%- block.heading %>
						</h2>
					<% } %>
					<% if(block.description) { %>
						<p class="block_image_text__description">
							<%- plugins.richText(block.description) %>
						</p>
					<% } %>
					<% if(block.link && block.link.length) { %>
						<%- plugins.simpleLink(block.link, 'block_image_text__link button') %>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>