// ======================================================
// Block Styles
// ============
$image_margin: 10px 38px 0;
$mobile_breakpoint: 500px;
.content_image {
    margin-bottom: 38px;
	margin-left: auto;
	margin-right: auto;
    width: 100%;

    @include breakpoint(($mobile_breakpoint - 1) down) {
        margin-bottom: 25px;
    }

	&__image {
		height: auto;
		width: 100%;
	}

	&__inner {
		@include breakpoint(small down) {
			max-height: 410px;
		}
	}
	
	// Alignment
	&--left {
		@include breakpoint($mobile_breakpoint up) {
			float: left;
			margin: 10px 38px 30px 0;
		}
	}

	&--right {
		@include breakpoint($mobile_breakpoint up) {
			float: right;
			margin: 10px 0 30px 38px;   
		}
	}

	// Proportions
	&--cover {
		.content_image__inner {
			height: 370px;

			@include breakpoint( small down ) {		
				height: 200px;
			}
		}
	}

	&--contain {
		.content_image__inner {
        	height:auto!important;
    	}
	}

	// Width
	&--width-10 {
		@include breakpoint($mobile_breakpoint up) {
			width: 10%;
		}
	}

	&--width-25 {
		@include breakpoint($mobile_breakpoint up) {
			width: 25%;
		}
	}

	&--width-35 {
		@include breakpoint($mobile_breakpoint up) {
			width: 35%;
		}
	}

	&--width-50 {
		@include breakpoint($mobile_breakpoint up) {
			width: 50%;
		}
	}

	&--width-75 {
		@include breakpoint($mobile_breakpoint up) {
			width: 75%;
		}
	}

	&--width-100 {
		@include breakpoint($mobile_breakpoint up) {
			width: 100%;
		}
	}

	&__description {
		font-size: 0.85em;
		text-align: center !important;
		width: 95%;
		margin: auto;
		font-style: italic;
		margin-bottom: 6px;
		margin-top: 15px;
	}

	// Imported images
	.block_news_detail__body & {
		margin-top: 35px;
	}
}