// ======================================================
// Block Styles
// ============
.layer_link {
    // Your SCSS Code Here.
    &__form {
        display: none;
    }

   
}

.button--read-more {
	margin-top: 25px;

	.read_less_text {
		display: none;
	}
	
	&.open {
		.read_more_text {
			display: none;
		}
		.read_less_text {
			display: block;
		}
	}

}

.read_more_container {
	overflow: hidden;
	position: relative;
	transition: .4s cubic-bezier(0.62, 0.34, 0.34, 0.96) 0s;

	&--open {
		transition-delay: 0s;

		&:after {
			display: none;
		}
	}

	&:not(.read_more_container--open) {
		max-height: 300px!important;
	}

	&:after {
		background: -webkit-linear-gradient(rgba(#fff,0) 0%, #fff 100%);
		background: -o-linear-gradient(rgba(#fff,0) 0%, #fff 100%);
		background: linear-gradient(rgba(#fff,0) 0%, #fff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#fff9f9',GradientType=0 );
		bottom: 0;
		content: '';
		display: block;
		height: 25px;
		left: 0;
		position: absolute;
		width: 100%;
	}
}
