// ======================================================
// Block Styles
// ============
.sidebar_image_heading_text_and_link {
	$block: &;

	.button {
		font-size: 0.875rem;
		margin-bottom: 0;
		min-height: 41px;
		padding: 12px 6px;
	}

	&__image {
		height: 128px;
		width: 100%;
	}

	&__image + &__heading {
		margin-top: 22px;
	}
}