<% var block = options.block %>
<%- block._editable %>

<div class="sidebar_image_heading_text_and_link  sidebar__widget">
	<% if(block.image) { %>
		<div class="cover_image sidebar_image_heading_text_and_link__image">
			<img src="<%- plugins.imgix(block.image, { q: 60, w: 500, fm: 'jpg' }) %>" alt="<%- block.heading %>">
		</div>
	<% } %>
	<h4 class="sidebar__heading sidebar_image_heading_text_and_link__heading"><%- block.heading %></h4>
	<div class="sidebar__text">
		<%- block.description %>
	</div>
	<% if(block.book_a_consultation) { %>
		<span class="button button--secondary" data-lightbox=".block_book_a_consultation_form--sidebar">Book A Consultation</span>
	<% } %>
	<% if(block.link && !block.book_a_consultation) { %>
		<%- plugins.simpleLink(block.link, 'button button--secondary') %>
	<% } %>


	<!-- Book a consultation form -->
	<%- plugins.blocks([{component: '[Block] Book A Consultation Form', lightbox: true, name: 'sidebar'}]) %>
</div>